@model EventManager.Models.Event

@{ViewData["Title"] = "Edit"; }

<h2>Edit Event</h2>
<form class="form-horizontal" method="post">
    <fieldset>
        <input type="hidden" asp-for="EventID">
        <div class="form-group">
            <label for="Venue" class="col-md-2 control-label">Venue</label>
            <div class="col-md-10">
                <input asp-for="Venue" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="Date" class="col-md-2 control-label">Date</label>
            <div class="col-md-10">
                <input asp-for="Date" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="Time" class="col-md-2 control-label">Time</label>
            <div class="col-md-10">
                <input asp-for="Time" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="Time" class="col-md-2 control-label">Genre</label>
            <div class="col-md-10">
                <select asp-for="GenreID" asp-items="ViewBag.Genres" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary btn-danger">Submit</button>
                <a asp-action="ArtistIndex" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>
