@model IEnumerable<EventManager.Data.Following>
<h2>Events you are f
    ollowing:</h2>
@foreach(var follow in Model)
{
 <div class="col-md-10 follow"><b>@follow.Artist.Name</b></div>
 <br />
 <div class="col-md-10 follow"><a asp-action="UnFollow" asp-route-id="@follow.ArtistID" class="btn btn-sm btn-success">UnFollow</a></div>
}
<br />
